body {
    background: #0D0A12;
}

h2 {
    color: #FFFFFF
}

.hidden {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

.cart-icon {
    max-height: 33px;
    max-width: 33px;
}

.added-to-cart {
    border-radius: 50%;
    left: 75%;
}

.check-text {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: white;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.cart-icon-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.add-to-cart-icon {
    height: 7.2%;
    width: 10%;
    position: relative;
    bottom: 62%;
    left: 90%;
    z-index: 200;
}

.add-to-cart-icon:hover {
    cursor: pointer;
}

.play:hover, .btn-carousel:hover, .home-btn-nav:hover, .send-button:hover, .like-button:hover, .dislike-button:hover, .community-hub-button:hover, .route h4:hover {
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.game-card-image:hover, .card-game:hover .game-card-image {
    position: relative;
    z-index: 100;
    right: 10%;
}

.transparent {
    opacity: 0;
}

.btn_menu {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

.hovered {
    background-color: #fff!important;
}
.menu-line {
    width: 21px;
    height: 4px;
    color: #7C7C7C;
    background-color: #7C7C7C;
    margin-top: 4px;
    border-radius: 2px;
    transition: all 250ms ease-in-out;
}

header {
    z-index: 2000;
}

.rotated-menu-line-1 {
    rotate: 45deg;
    bottom: 35px;
    position: absolute;
}

.rotated-menu-line-2 {
    rotate: -45deg;
}

.rotated-menu-line-3 {
    rotate: 45deg;
    bottom: 35px;
    position: absolute;
}

.nav-item {
    cursor: pointer;
}

.active-menu-div {
    bottom: 0!important;
}