.front-wallpaper {
    width: 700px;
    height: 247px;
    object-fit: fill;
    border-radius: 30px;
    position: relative;
    left: 127px;
}

.front-news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 275px;
    z-index: 200;
}

.front-news-container h1, .front-news-container h2 {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 200;
    right: 20px;
}

.front-news-container h2 {
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 624px;
    left: 70px;
    text-align: center;
    transition: background-color 1s ease-out 35ms;
    font-weight: lighter;
}

.front-news-container h1 {
    height: 40px;
    font-size: 25px;
    padding: 5px;
    background: #393939;
    position:relative;
    z-index: 300;
    border-radius: 7px;
    left: 304px;
    transition: background-color 1s ease-out 50ms;
    min-width: 235px;
}

.news-front-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 1s ease-out 50ms;
}

.news-front-price:hover h1 {
   
    background-color: #000000;
    cursor: pointer;
}

.news-front-price:hover h2 {
    background-color: #393939;
    cursor: pointer;
}

.game-info-section-news-description {
    background: #262222;
    border-radius: 25px;
    padding: 5px 10px;
}

.news-description {
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 900px;
}

.background-wallpaper {
    width: 100%;
    position: relative;
    z-index: 100;
    height: 750px !important;
    z-index: -1;
}

.wallpaper-section {
    display: flex;
    flex-direction: column;

}

.wallpaper-section h3 {
    margin-top: 0;
    top: 105px;
    position: absolute;
    z-index: 300;
    font-style: italic;
    margin-bottom: 0;
    left: 20px;
}

.route {
    margin: 0 0 0 120px;
}

.game-info-card {
    width: 240px;
}

.game-info-card-image {
    max-height: 365px;
}

.news-game-section.slideshow {
    margin-top: 100px;
}

.news-game-section .scrolling-wrapper-card {
    height: 600px;
}

.news-game-section .scrolling-wrapper-card .card-game {
    height: 550px;
}

.card-wallpaper {
    height: 550px !important;
    width: 900px !important;
    object-fit: contain;
    overflow: hidden;
}

.active, .dot:hover {
    background-color: #717171;
}

.info-box p, .info-box h5 {
    margin: 0 10px;
}

.info-box {
    white-space: normal;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slide {
    justify-content: center;
}
.features{
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: 100px;
    scroll-behavior: smooth;
    margin-left: 4%;
    margin-bottom: 50px;

}
.featured{
    display: inline-block;
    transition: 0.3s;
    padding: 10px;
    border-radius: 15px;
    margin: 0 30px 0 30px;
    box-shadow: 0px 4px 22px #000000;
    height: 30px;
    background: #1f1d26;
    font-size: 1.5rem;
    cursor: pointer;
}

.feature h3{
    margin-left: 50px;
}

.animated-carousel {
    justify-content: center;
    margin: auto;
    position: relative;
    width: 750px;
    height: 500px;
    overflow: hidden;
    top: 180px;
    border-radius: 10px;
    margin-bottom: 200px;
}
.slider {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.75s;
}

.slider-image {
    opacity: 1;
    width: inherit;
    height: inherit;
    object-fit: cover;
    transition: 1s;
}

.slider-image-active {
    opacity: 1;
}

.left {
    left: 1rem;
}
.right {
    right: 1rem;
}
.indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #fff;
    cursor: pointer;
}
.indicator-active {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #6D54B1;
    padding: 0.3rem;
    transition: 0.5s all;
    border-radius: 100%;
}

.btns {
    z-index: 300;
}



/*.scroll-snap-section {*/
/*    scroll-snap-align: center;*/
/*}*/

/*.news-scrolling {*/
/*    overflow-y: scroll;*/
/*    scroll-snap-type: y mandatory;*/
/*    height:100vh;*/
/*    transition: all 150ms ease-in-out;*/

/*}*/

/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/
*, 
*::before,
*::after
{
  box-sizing: border-box;
}



main 
{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

main section 
{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

main section  h1
{
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.no-parallax 
{  
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/news/h1.jpg");
    z-index: 999;
}
.no-parallax.two
{  
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/news/half-life12.png");
    z-index: 999;
}

.parallax h1 
{
  width: 60%;
  font-size: 2rem;
}

.parallax::after 
{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after 
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/news/news2.png");
  background-size: cover;
}


  .parpadea {
    
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    25% { opacity: .5; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    25% { opacity: .5; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
    25% { opacity: .5; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
